<div class="container">
  <div class="card mt-4">
    <div class="card-body">
      <p class="h4">Request Secure token and Public Key from Third Party Service
        <button type="button" (click)="generateKeys()" class="btn btn-outline-primary">Generate Keys</button>
      </p>
      <p class="h6">Public</p>
      <textarea class="form-control" style="height: 150px" readonly>{{generatedPublicKey}}</textarea>
      <p class="h6">Private</p>
      <textarea class="form-control" style="height: 150px" readonly>{{generatedPrivateKey}}</textarea>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-body">
      <p class="h4 mb-4">Registeration Form:</p>
      <form [formGroup]="registerationForm" (ngSubmit)="saveForm()" class="form">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="Enter first name">
          <span class="error" *ngIf="registerationForm.controls.firstName.hasError('required') && registerationForm.controls.firstName.touched">*First Name is required</span>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Enter last name">
          <span class="error" *ngIf="registerationForm.controls.lastName.hasError('required') && registerationForm.controls.lastName.touched">*Last Name is required</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <span class="error" *ngIf="registerationForm.controls.email.hasError('required') && registerationForm.controls.email.touched">*Email is required</span>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" formControlName="phone" class="form-control" id="phone" placeholder="Enter phone">
          <span class="error" *ngIf="registerationForm.controls.phone.hasError('required') && registerationForm.controls.phone.touched">*Phone is required</span>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" formControlName="city" class="form-control" id="city" placeholder="Enter city">
          <span class="error" *ngIf="registerationForm.controls.city.hasError('required') && registerationForm.controls.city.touched">*City is required</span>
        </div>
        <div class="form-group">
          <label for="state">State</label>
          <input type="text" formControlName="state" class="form-control" id="state" placeholder="Enter state">
          <span class="error" *ngIf="registerationForm.controls.state.hasError('required') && registerationForm.controls.state.touched">*State is required</span>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input type="country" formControlName="country" class="form-control" id="country" placeholder="Enter country">
          <span class="error" *ngIf="registerationForm.controls.country.hasError('required') && registerationForm.controls.country.touched">*Country is required</span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button (click)="goBack()" type="button" class="ml-2 btn btn-secondary">Back</button>
      </form>
    </div>
  </div>
  <br>
  <!-- <form [formGroup]="registerationForm" (ngSubmit)="saveForm()" class="form">

    <div>
      <input formControlName="firstName" type="text" />
      <label> First Name </label>
      <div class="mf-ripple"></div>
      <span class="error" *ngIf="registerationForm.controls.firstName.hasError('required') && registerationForm.controls.firstName.touched">First Name is required</span>
    </div>
    <div>
      <input formControlName="lastName" type="text" />
      <label> Last Name </label>
      <div class="mf-ripple"></div>
      <span class="error" *ngIf="registerationForm.controls.lastName.hasError('required') && registerationForm.controls.lastName.touched">Last Name is required</span>

    </div>
    <div>
      <input formControlName="email" type="text" />
      <label> Email </label>
      <div class="mf-ripple"></div>
      <span class="error" *ngIf="registerationForm.controls.email.hasError('required') && registerationForm.controls.email.touched">Email is required</span>

    </div>
    <div>
      <input formControlName="phone" type="text" />
      <label> Phone </label>
      <div class="mf-ripple"></div>
      <span class="error" *ngIf="registerationForm.controls.phone.hasError('required') && registerationForm.controls.phone.touched">Phone is required</span>

    </div>
    <div>
      <input formControlName="gender" type="text" />
      <label> Gender </label>
      <div class="mf-ripple"></div>
      <span class="error" *ngIf="registerationForm.controls.gender.hasError('required') && registerationForm.controls.gender.touched">Gender is required</span>

    </div>
    <div>
      <input formControlName="city" type="text" />
      <label> City </label>
      <div class="mf-ripple"></div>
      <span class="error" *ngIf="registerationForm.controls.city.hasError('required') && registerationForm.controls.city.touched">City is required</span>

    </div>
    <div>
      <input formControlName="state" type="text" />
      <label> State </label>
      <div class="mf-ripple"></div>
      <span class="error" *ngIf="registerationForm.controls.state.hasError('required') && registerationForm.controls.state.touched">State is required</span>

    </div>
    <div>
      <input formControlName="country" type="text" />
      <label> Country </label>
      <div class="mf-ripple"></div>
      <span class="error" *ngIf="registerationForm.controls.country.hasError('required') && registerationForm.controls.country.touched">Country is required</span>

    </div>
    <div>
      <button (click)="saveForm()" type="button" class="btn btn-sm btn-link" [disabled]="registerationForm.invalid || !generatedPublicKey || !generatedPrivateKey">
        Save </button>
      <button (click)="goBack()">Back</button>
    </div>
  </form> -->
</div>